@media (max-width: 450px) {

    ul {
        & li {
            color: white;
            font-family: "Mimi";

            margin: 0 10px;

            & a {
                color: white;
                text-decoration: none;
                font-size: 24px;
            }
        }
    }

    section#welcome {
        width: 100%;
        top: 15%;

        & h1 {
            font-size: 36px;
        }

    }

    section#days {
        width: 95%;
        top: 15%;

        & h1 {
            font-size: 38px;
        }
    }

    section#letter {
        & #msg {
            position: absolute;
            text-align: center;
            width: 150px;
            top: calc(50% - 70px);
            left: calc(50% - 75px);

            font-size: 17px;
        }
    }
}